p {
    margin: 5vw 4vw 0;
    font-size: 2.5rem;
    line-height: 1.5; 
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

input {
    outline: none;
    border: none;
    margin: 0 4vw 3vw;
    font-size: 6rem;
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 500;
    color: 	RGB(4,103,181);
}

.left-component {
    display: flex;
    flex-direction: column;
    width: 50vw;
    height: 100%;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    appearance: none;
    -moz-appearance: textfield;
}