div {
    display: flex;
    background-color: RGB(249,250,252);
    padding: 12px 15px 12px 35px;
    border-radius: 20px;
}
.name {
    outline: none;
    border: none;
    font-size: 1.5rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    background-color: RGB(249,250,252);
}
.number {
    text-align: right;
    margin-left: auto;
    outline: none;
    border: none;
    font-size: 1.5rem;
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 600;
    color: RGB(4,103,181);
    background-color: RGB(249,250,252);
}

