p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 1.5rem;
    margin: 20px;
}

.common-component {
    display: flex;
    width: 100%;
}

.right-components {
    display: flex;
    margin: 4vw 4vw 0 0;
    flex-direction: column;
    gap: 15px; 
    width: 50%;
}

.random-button {
    border: none;
    text-decoration: none;
    background-color: RGB(249,250,252);
    border-radius: 20px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 1.5rem;
    padding: 15px 32px;
    margin-top: 2vw;
    cursor: pointer;
    width: 40%;
}

ul {
    margin: 0 0 20px 0;
    padding: 0 0 0 25px;
    list-style-type: none;
}

ul li {
    margin-bottom: 5px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 1.2rem;
}